<div class="card" style="width: 18rem;">
  <%= image_tag("dinner-set.png", class: "card-img-top", alt: "crystal glass") %>
    <div class="card-body">
      <h2>Card title</h2>
      <p>Lorem ipsim dolor sit amet consectetur adipisicing elit. Magni aliquid sapiente, obcaecati dolore rerum, facilis.</p>
  </div>
  <div class="card-buttons">
    <%= link_to "Update", "#", class: "btn btn-green" %>
    <%= link_to "Delete", "#", class: "btn btn-green" %>
  </div>
</div>
