<div class="img-fluid">
  <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <%= image_tag "banner_02.jpg", alt: "Le Wagon"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "banner_01.jpg", alt: "Le Wagon"%>
      </div>
      <div class="carousel-item">
        <%= image_tag "banner_03.jpg", alt: "Le Wagon"%>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
