<footer class="text-center text-white" style="background-color: #BFB9AD;">
  <div class="text-center text-dark p-3" style="background-color: rgba(191, 185, 173);">
    © 2022 Copyright: &agrave table company Ltd
  </div>
</footer>
