
<div class="navbar">
  <nav>
    <ul>
      <li><a href="#" class="home-logo"><img src="/assets/atable-logo-white.svg" alt="home"width="120px" height="auto"></a></li>
      <li><a href="#"><img src="/assets/atable-icon-set.svg" alt="set"width="auto" height="50px"></a></li>
      <li><a href="#"><img src="/assets/atable-icon-plate.svg" alt="plates"width="auto" height="50px"></a></li>
      <li><a href="#"><img src="/assets/atable-icon-fork.svg" alt="forks"width="auto" height="50px"></a></li>
      <li><a href="#"><img src="/assets/atable-icon-glass.svg" alt="glasses"width="auto" height="50px"></a></li>
      <li><a href="#"><img src="/assets/atable-icon-search.svg" alt="search"width="auto" height="50px"></a></li>
    </ul>
  </nav>
  <a href="#"class="sign-in">sign in</a>


</div>
