  <body style="background-color: rgb(239, 239, 231);">

    <%= render 'shared/carousel' %>

        <section>
          <div class="intro-logo">
          <%= image_tag("atable-logo-colour.svg") %>
          </div>
          <div class="intro-text">
            <p>Welcome to à table !</p>
            <p>Find the cutlery, plates, glasses and dinner sets that match the theme of your event...</p>
          </div>
          <div>
          <%= image_tag "home-bottom-pic.jpg", class: "home-bottom-pic" %>

          </div>
        </section>

    <%= yield %>
  </body>
