.btn-green {
  color: white !important;
  padding: 8px 28px;
  margin: 8px;
  border-radius: 4px;
  flex: 1 1 auto;
  background: $btn-green !important;
  transition: background 0.3s ease;
  &:hover {
  background: $btn-hover !important;
  color: white !important;
  }
}
