.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f2f3eb;
  border-color: black;

  .h2 {
    color: #788382;
    font-size: 8rem;
    font-weight: bolder;
  }
  .p {
    color: #788382;
    font-size: 8rem;
    font-weight: lighter;
  }
}

.card__cover {
  height: 150px;
  width: 80%;
  padding: .25rem;
}

.card__content {
  /* Take available height */
  flex: 1;
}
