.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  border-color: #BEB8AC;
  height: auto;
  padding: .25rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

 .card-body {
  h2 {
    color: $gray !important;
    font-size: 2rem;
    font-weight: normal;
  }
  p {
    color: $gray !important;
    font-size: 1rem;
    font-weight: normal;
  }
}


.card-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.card {
  img {
    margin-top: 8px;
    padding: 0 0.5rem;
    min-width: 100%;
    min-height: auto;
  }
}

.card_large {
  height: 300px;
  width: 80%;
  padding: .25rem;
}
