section {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.intro-text {
width: 600px;
text-align: center;
margin-top: 32px;

}

.intro-logo {
  margin-top: 32px;
  width: 350px;
  height: auto;
}



.home-bottom-pic {
  width: 1000px;
  mix-blend-mode: multiply;

}
