
.navbar {
  display: flex;
  background: $dark-gray;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;

  .user-menu {
  justify-content: space-between;
  margin-right: 40px;
  }
}


.home-logo {
  width: 120px;
  height: auto;
  margin-left: 50px;
  margin-right: 50px;
}

.home-logo:hover path {
  fill: $dark-green;
}

.container {
  width: 80%;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    padding-top: 8px;
    position: relative;
  }
}

nav ul > li > a {
  color: $whetstone;
  text-decoration: none;
}

nav ul > li > a:hover {
  color: $whetstone;
}


nav ul > li > a::before {
  content: '';
  display: block;
  height: 1px;
  background-color: $whetstone;

  position: absolute;
  bottom: 0;
  width: 0%;
  transition: all ease-in-out 100ms;
}

nav ul > li > a:hover::before {
  width: 100%;
}


.sign-in {
  display: flex;
  color: #D6D5C1;
  color: $whetstone;
  align-items: center;
  float: right;
  margin-right: 50px;
  text-decoration: none;

  &:hover
  {
    color: blue
  }
}

.navbar-icon {
width: auto;
height: 50px;
}

.upload-icon {
  width: auto;
  height: 60px;

}

.signin {
  display: flex;
  align-items: center;
}

.navbar {
display: flex;
}

.upload-icon:hover {
filter: invert(0.25);

}

.btn-sign-in {
  width: 100px;
  border-color: #BEB8AC;
  border-radius: 4px;
  &:hover {
  background-color: #574F52;
  color: white !important;
  }
}
