
.navbar {
position: fixed; top: 0; left: 0; z-index: 9999; width: 100%;
}


.home-logo {
  width: 120px;
  height: auto;
  margin-left: 50px;
  margin-right: 50px;
}

.home-logo:hover path {
  fill: $dark-green;
}

.container {
  width: 80%;
}

.navbar {
  background: $dark-gray;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding-top: 8px;

  position: relative;
}


nav ul > li > a {
  color: $whetstone;
  text-decoration: none;
}

nav ul > li > a:hover {
  color: $whetstone;
}


nav ul > li > a::before {
content: '';
display: block;
height: 1px;
background-color: $whetstone;

position: absolute;
bottom: 0;
width: 0%;
transition: all ease-in-out 100ms;
}

nav ul > li > a:hover::before {
width: 100%;
}


.sign-in {
  color: #D6D5C1;
  color: $whetstone;
  float: right;
  margin-right: 50px;
  text-decoration: none;
  margin-right: 50px;

}

.sign-in:hover {
  color: white;
}

.navbar-icon {
width: auto;
height: 50px;
}

.upload-icon {
  width: auto;
  height: 60px;

}

.navbar {
display: flex;
}


.upload-icon:hover {
filter: invert(0.25);

}
