<div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
  <div class="card-user" style="width: 18rem;">
    <img src= product.image class="card-img-top" alt="crystal glass">
  <div class="card-body">
    <h2><%= product.name %></h2>
    <p><%= product.description.truncate_words(10) %></p>
  </div>
  <div class="card-buttons">
    <%= link_to "Update", "edit_user_product_path(product)", class: "btn btn-green" %>
    <%= link_to "Delete", "user_product(product)",  class: "btn btn-green", method: :delete,
                data: { confirm: "Are you sure?" },
                class: 'ms-3 text-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
