    <% @products.each do |product| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to product_path(product), class:"text-decoration-none" do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= product.photo.attached? ? cl_image_path(product.photo.key) : asset_path('product_background.jpg') %>)">
            <%= product.name %>
          </div>
        <% end %>
      </div>
    <% end %>
